/* Importation de la police Google */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Dancing+Script&display=swap');

/* Réinitialisation des styles par défaut du navigateur */
body {
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Couleur du texte principale */
}

/* Suppression des puces de liste */
ul {
    margin: 0;
    padding: 0;
}

/* Mise en forme des en-têtes de section */
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    color: #555; /* Couleur du titre */
}

/* Styles des liens */
a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Couleur des liens */
}

/**************************** NAVBAR ****************************/

/* Styles de la barre de navigation */
nav {
    overflow: hidden;
    background-color: #333; /* Couleur de fond de la barre de navigation */
    position:relative;
    opacity: 1;
    width: 100%;
}

/* Styles des éléments de la barre de navigation */
header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
    color: white; /* Couleur des liens de navigation */
}

/* Styles du logo */
#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
    color: #ffcc00; /* Couleur du logo */
}

/**************************** IMAGE PRINCIPALE ****************************/

/* Styles de la section principale avec l'image */
#imagePrincipale {
    padding-top: 60px;
    background: url(media/Tai\ Chi.jpeg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
    text-align: center;
}

/* Styles du titre principal */
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #ffffff; /* Couleur du titre principal */
    font-size: 6em;
    margin-top: 110px;
}

/* Styles des boutons */
.button {
    display: inline-block;
    background-color: #333; /* Couleur du bouton */
    border-radius: 15px;
    color: rgb(255, 255, 255); /* Couleur du texte du bouton */
    text-align: center;
    font-size: 23px;
    padding: 16px; /* Espacement interne du bouton */
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px; /* Espacement externe du bouton */
    font-family: 'Advent Pro', sans-serif;
}

.button:hover{
    background-color: #acacac;
    transform: scale(1.2);
}

/* Styles des images de description */
.description-image {
    float: left;
    margin-right: 20px;
    width: 160px;
    height: auto;
    border: 2px solid #333; /* Bordure autour de l'image */
    border-radius: 10px;
    overflow: hidden;
}

/* Styles du texte dans la description */
#Description_IMT_Atlantique p,
#Description-Ecole-Wushu p {
    font-family: 'Noto Sans', sans-serif; /* Changer la police */
    font-size: 16px;
    line-height: 1.6;
    color: #444; /* Couleur du texte */
    margin-bottom: 15px;
    text-align: justify;
}

#Description_IMT_Atlantique h2,
#Description-Ecole-Wushu h2 {
    font-family: 'Dancing Script', cursive; /* Changer la police */

    color: #555; /* Couleur du titre */
    font-size: 2em;
    margin-bottom: 20px;
}

/**************************** EQUIPES ****************************/


/* Styles de la section des équipes*/
#Equipe12,#Equipe13{
    margin: 40px;
}

/* Styles du conteneur d'équipes */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles des membres d'équipe */
.team-member {
    width: calc(33.33% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
}

/* Styles des images circulaires */
.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: 2px solid #333; /* Bordure autour de l'image */
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles des descriptions des membres */
.description-member {
    float: right;
    text-align: left;
    width: 60%;
    padding: 20px;
    background-color: #f5f5f5; /* Couleur de fond de la description */
    border: 2px solid #ccc; /* Bordure autour de la description */
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif; /* Police pour la description-member */
}

/* Styles du texte à l'intérieur des descriptions */
.description-member p {
    margin: 0 0 10px; /* Marge pour les paragraphes à l'intérieur de la description-member */
    line-height: 1.4; /* Hauteur de ligne pour améliorer la lisibilité */
}

/* Styles des noms et rôles des membres */
.member-first-name,
.member-last-name{
    margin: 0;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
}
.member-role {
    margin: 0;
    color: #6532a8;
    font-weight: bold; /* Couleur des noms et rôles */
}

/* Ajout de styles pour les titres dans la description-member */
.description-member h2 {
    color: #555; /* Couleur du titre */
    font-size: 1.5em;
    margin-bottom: 15px;
}

/**************************** VIDEOS ****************************/

/* Styles pour la section des vidéos */
.video-container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/* Styles pour les titres des vidéos */
.video-container h2 {
    color: #333;
}

/* Styles pour les vidéos elles-mêmes */
.video-container video {
    width: 100%; /* La vidéo occupe 100% de la largeur du conteneur */
    height: 700px; /* La hauteur s'ajuste automatiquement pour maintenir les proportions */
    border-radius: 8px;
    outline: none; /* Empêche la bordure par défaut de la balise video */
}

/* Style pour le cadre autour de la vidéo lorsqu'elle est en cours de lecture */
.video-container video:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container{
    width: 735px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
}

.container video {
    transition: transform 0.3s ease;
  }
  
  .container video:hover {
    transform: scale(1.05);
  }

.row-container{
    display: flex;
    flex-direction: row;
    margin : 50px 0px 50px 0px;
    justify-content: center;
}

.button-video {
    display: inline-block;
    background-color: #bebdbd; /* Couleur du bouton */
    border-radius: 15px;
    color: rgb(255, 255, 255); /* Couleur du texte du bouton */
    text-align: center;
    font-size: 15px;
    padding: 16px; /* Espacement interne du bouton */
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Advent Pro', sans-serif;
    margin: 35px;
}

.button-video:hover{
    background-color: #979797;
    transform: scale(1.2);
}

.button-container{
    display: flex;
    flex-direction: row;

}


/**************************** ELEMENTS PAGE GROUPE 12 ****************************/

.titre-groupe-12{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #333; /* Couleur du titre principal */
    font-size: 6em;
    margin-top: 110px;
}
#description-groupe-12{
    margin: 0px 80px 0px 80px;
}
#description-groupe-12 p {
    font-size: 18px;
}
.navigation{
    margin: 30px 0px 0px 0px; 
}
.navigation-function{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5em;
    color: #555; /* Couleur du titre */
}